.iat-clue-list{
  display:flex;
  flex-direction:row;
  align-items: stretch;
  justify-content: space-between;
  vertical-align: middle;
}

.list {
  padding: 3pt;
  width:30%;
  color:white;
  height: 3%
}


