/* Master Styles */


/* everywhere else */
* {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
}
@media (max-height: 200px ){
  *{
    font-size: 10px;
  }
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
